@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --oscuro: #1a202c;
    --medio-oscuro: #2d3748;
    --claro-oscuro: #4a5568;
    --azul: #2c5282;
    --azul-claro: #63b3ed;
    --acento: #0085ae;
    --amarillo: #ffcc00;
    --blanco-claro: #ebf8ff;
    --azul-oscuro: #2a4365;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

/* Estilos del body */
body {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/mapa2.jpg');
    background-size: cover;
    color: white;
}

/* Estilos Header */
header {
    background-color: var(--azul);
    color: white;
    height: 8vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 4px solid var(--azul-claro);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

header a {
    font-size: 0.9em;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    background-color: var(--azul-oscuro);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

header a:hover {
    background-color: var(--azul-claro);
    color: var(--azul-oscuro);
}

header img {
    display: inline;
    width: 70px;
}

header h1 {
    position: absolute;
    left: 35%; 
    font-size: 1.2em;
    color: var(--blanco-claro);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

/* Estilos del contenedor principal de los items */
main div {
    padding: 20px;
    background-color: rgba(5, 47, 77, 0.2); 
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilo de los fieldset para los ítems */
fieldset {
    border: 2px solid var(--claro-oscuro);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.3); 
}

/* Título de los ítems */
legend {
    font-size: 1.2em;
    color: var(--amarillo);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilo de los labels dentro de los ítems */
fieldset label {
    font-size: 0.9em;
    color: var(--blanco-claro);
    margin-bottom: 5px;
    display: block;
}

/* Estilo de los inputs y selects dentro de los ítems */
fieldset input[type="text"],
fieldset input[type="file"],
fieldset select,
fieldset textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid var(--claro-oscuro);
    background-color: var(--claro-oscuro);
    color: white;
    font-family: 'Press Start 2P', cursive;
}

/* Estilo del botón para subir fotos */
fieldset #subirBtn {
    padding: 10px 20px;
    background-color: var(--azul-claro);
    color: white;
    font-size: 0.9em;
    border-radius: 5px;
    border: 2px solid var(--azul-oscuro);
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

/* Estilo para el hover del botón de subir fotos */
fieldset #subirBtn:hover {
    background-color: var(--azul-oscuro);
    color: var(--blanco-claro);
    border-color: var(--azul-claro);
    box-shadow: 0px 4px 12px var(--azul-claro);
    transform: translateY(-2px);
}

/* Estilo para el área de descripción */
fieldset textarea {
    height: 100px;
}

/* Ajuste del formulario en dispositivos pequeños */
@media (max-width: 768px) {
    main div {
        padding: 10px;
    }

    fieldset {
        padding: 15px;
    }

    fieldset label, 
    fieldset input[type="text"], 
    fieldset select,
    fieldset textarea {
        font-size: 0.8em;
    }
}


/* Formulario */
form {
    justify-content: space-between;
    width: 100%;
    background-color: rgba(5, 47, 77, 0.35); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    color: white;
}

/* Input y labels */
form label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: var(--blanco-claro);
}

form input[type="text"],
form input[type="file"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--claro-oscuro);
    color: white;
    font-family: 'Press Start 2P', cursive;
}
#subirBandera {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--azul-claro);
    color: white;
    font-size: 0.9em;
    border-radius: 5px;
    border: 2px solid var(--azul-oscuro);
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

#subirBtn:hover {
    background-color: var(--azul-oscuro);
    color: var(--blanco-claro);
    border-color: var(--azul-claro);
    box-shadow: 0px 4px 12px var(--azul-claro);
    transform: translateY(-2px);
}

/* Oculta el botón predeterminado de archivo */
form input[type="file"] {
    display: none;
}

/* Estilo para los botones cancelar y actualizar */
input {
    width: 45%;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.cancel {
    background-color: var(--azul-oscuro);
    color: var(--blanco-claro);
}

.cancel:hover {
    background-color: var(--azul);
}

.update {
    background-color: var(--acento);
    color: white;
}

.update:hover {
    background-color: var(--azul-claro);
}

@media (max-width: 768px) {
    header h1 {
        left: 30%;
    }
}

.volver-btn {
    display: inline-block; 
    padding: 10px 20px; 
    font-size: 1em; 
    text-align: center; 
    text-decoration: none; 
    color: var(--blanco-claro); 
    background-color: var(--azul-oscuro); 
    border: none; 
    border-radius: 5px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}


.volver-btn:hover {
    background-color: var(--azul); 
    transform: translateY(-2px); 
}

/* Estilo para la lista de errores */
.error-list {
    color: red;
    font-size: 14px;
    margin-bottom: 1em;
    padding: 0;
    list-style: none;
}

.error-list li {
    margin: 0.2em 0;
}

.error-msg {
    color: red;
    font-size: 0.9em;
    display: block;
    margin-top: 5px;
}