@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --oscuro: #1a202c;
    --medio-oscuro: #2d3748;
    --claro-oscuro: #4a5568;
    --azul: #2c5282;
    --azul-claro: #63b3ed;
    --acento: #0085ae;
    --amarillo: #ffcc00;
    --blanco-claro: #ebf8ff;
    --azul-oscuro: #2a4365;
    --gris-claro: #747474;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

/* Estilos Generales */
body {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/mapa2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
}

header {
    background-color: var(--azul);
    color: white;
    height: 8vh;
    padding: 0 20px;
    border-bottom: 4px solid var(--azul-claro);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 50px;
    height: auto;
}

header h1 {
    font-size: 1.2em;
    color: var(--blanco-claro);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

header a {
    font-size: 0.9em;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    background-color: var(--azul-oscuro);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

header a:hover {
    background-color: var(--azul-claro);
    color: var(--azul-oscuro);
}

main {
    width: 90%;
    margin: 20px auto;
}

h2 {
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    color: #fff;
    margin-bottom: 20px;
}

button {
    font-size: 0.9em;
    text-transform: capitalize;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

button.add-category {
    display: block;
    margin: 10px auto;
    background-color: var(--azul-oscuro);
    color: white;
}

button.add-category:hover {
    background-color: var(--azul-claro);
    color: var(--azul-oscuro);
}

/* Estilo de tablas */
table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    background-color: rgba(5, 47, 77, 0.35);
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

table th, table td {
    padding: 15px;
    border-bottom: 2px solid var(--azul-claro);
}

table th {
    background-color: #0085ae9d;
    text-transform: uppercase;
}

table tr:nth-child(even) {
    background-color: #2a4365a8;
}

table tr:nth-child(odd) {
    background-color: #2d374895;
}

button img {
    width: 25px;
    height: 25px;
}

/* Formulario */
form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    width: 400%;
    max-width: 600px;
    margin: 50px auto;
}

form input {
    width: 100%;
    margin: 20px 0px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid var(--azul-oscuro);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

form div {
    display: flex;
    justify-content: space-between;
}

/* Botones del formulario */
form button[type="reset"] {
    background-color: var(--medio-oscuro);
    color: var(--blanco-claro);
}

form button[type="reset"]:hover {
    background-color: var(--claro-oscuro);
}

form button[type="button"] {
    background-color: var(--acento);
    color: white;
}

form button[type="button"]:hover {
    background-color: var(--amarillo);
    color: var(--oscuro);
}

form button[type="submit"] {
    background-color: var(--azul-oscuro);
    color: var(--blanco-claro);
    font-weight: bold;
}

form button[type="submit"]:hover {
    background-color: var(--azul-claro);
    color: var(--azul-oscuro);
    box-shadow: 0px 0px 15px var(--azul-claro);
}

/* Media Query para tablet (769px - 1024px) */
@media (max-width: 1024px) and (min-width: 769px) {  
    form {
        padding: 40px; 
        max-width: 800px; 
        min-height: 250px; 
    }

    form input {
        padding: 15px; 
    }

    form button {
        font-size: 1.1em; 
        padding: 15px 30px; 
    }
}

